.card {
  width: 350px;
  height: 430px;        /* Set fixed height! */
  border-radius: 20px;
  background: linear-gradient(160deg, #e2e2e2 0%, #606060 100%);
  box-shadow: 0 8px 20px rgba(50,50,50,.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  margin: 0 auto;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 32px auto 0 auto;
  justify-items: center;
  align-items: start;
}

.projectCardImgBox {
  width: 100%;
  aspect-ratio: 1/1; /* perfect square */
  border-radius: 16px;
  overflow: hidden;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectCardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgBox {
  width: 100%;
  aspect-ratio: 1 / 1;    /* Makes perfect square */
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 12px;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.title {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 8px 0;
  text-align: left;
  width: 100%;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 10px 0;
  text-align: left;
  color: #292929;
  width: 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 16px;
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: flex-start;
}

.skill {
  background: #474747;
  color: #fff;
  font-size: 13px;
  border-radius: 12px;
  padding: 3px 18px;
}

.buttonRow {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 28px;
  background: linear-gradient(90deg, #515458 50%, #26282a 100%);
  border-radius: 100px;
  transition: background 0.25s;
}

.btn:hover {
  background: linear-gradient(90deg, #26282a 60%, #686a6d 100%);
}
