:root {
    --color-text: #374151;
    --color-primary: #A78BFA;
    --color-secondary: #9CA3AF;
    --color-background: #F9FAFB;
    --color-dark: #7C3AED;
    /* fonts */
    --font-roboto: 'Roboto', sans-serif;
}